<mat-grid-list cols="5" rowHeight="3rem">
    <mat-grid-tile class="contacts" [colspan]="1" [rowspan]="11">
        <app-contact-card *ngFor="let chat of chats$ | async" [chat]=chat></app-contact-card>
    </mat-grid-tile>



    <mat-grid-tile class="message" [colspan]="4" [rowspan]="10">
        <textarea matInput cols="20" rows="25">s</textarea>
    </mat-grid-tile>


    <mat-grid-tile class="message" [colspan]="4" [rowspan]="1">
        <form [formGroup]="message" class="my-form">
            <mat-form-field class="full-width" style="width: 100% !important">
                <input matInput formControlName="content" cols="2" rows="2" required>
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="sendMessage()">SEND</button>
    </mat-grid-tile>
</mat-grid-list>