<mat-grid-list cols="3" rowHeight="3rem">
    <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div class="avatar">
            <img [src]="(user | async)?.photoURL | url | async" alt="No picture found">
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <h1>{{(user | async)?.displayName}}</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">

        <mat-nav-list class="list-horizontal">
            <a mat-list-item>
                <p>{{(user | async)?.followerCount}}</p>
                <h2>Following</h2>
            </a>
            <a mat-list-item>
                <p>{{(user | async)?.followerCount}}</p>
                <h2>Followers</h2>
            </a>
        </mat-nav-list>


    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="10">
        <div class="content">
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <mat-tab label="All">

                    <app-post-card *ngFor="let post of posts | async" [postInstance]="post"></app-post-card>

                </mat-tab>
                <mat-tab label="Songs">
                    <div *ngFor="let post of posts | async">
                        <app-post-card *ngIf="post.isSong" [postInstance]="post"></app-post-card>
                    </div>
                </mat-tab>
                <mat-tab label="Posts">
                    <div *ngFor="let post of posts | async">
                        <app-post-card *ngIf="!post.isSong" [postInstance]="post"></app-post-card>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>

    </mat-grid-tile>
</mat-grid-list>