mat-card {
    margin: 0 0 1rem 0;
}

mat-card-actions {
    display: flex;
}

//DELETE THIS LATER
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}