<div class="discover">
    <div class="search">
        <form>
            <mat-form-field class="example-full-width" floatLabel="never">
                <mat-label>Search for songs, artists, events and more..</mat-label>
                <input matInput placeholder="Search for songs, artists, events and more..">
            </mat-form-field>
        </form>
    </div>
    <div class="discover-content">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="All">
                All
            </mat-tab>
            <mat-tab label="Songs"> Content 2 </mat-tab>
            <mat-tab label="Artists"> Content 3 </mat-tab>
            <mat-tab label="Events"> Content 3 </mat-tab>
            <mat-tab label="Venues"> Content 3 </mat-tab>
        </mat-tab-group>
    </div>
</div>