<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{postInstance.displayName}}</mat-card-title>
        <mat-card-subtitle>{{postInstance.time.seconds * 1000 | date : 'medium'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{postInstance.content}}
        </p>

        <audio controls></audio>
    </mat-card-content>

    <mat-card-actions>
        <a mat-button><i class="material-icons">
                    thumb_up
                    </i></a>
        <a mat-button><i class="material-icons">
                    thumb_down
                </i></a>
        <a mat-button><i class="material-icons">
                        comment
                        </i></a>
        <a mat-button>
            <i class="material-icons">
                    share
            </i>
        </a>
    </mat-card-actions>
</mat-card>