<mat-toolbar color="primary" class="mat-elevation-z6">

    <span>Project</span>

    <div *ngIf="auth.user$ | async; then authenticated else guest">

    </div>

    <ng-template #guest>
        <div class="spacer"></div>
        <a mat-button routerLink="login">
            Login 
        </a>
        <a mat-button routerLink="register">
            Register
        </a>
    </ng-template>

    <ng-template #authenticated>

        <a mat-button routerLink="home">
            <mat-icon aria-hidden="false">home</mat-icon>
            Home
        </a>
        <a mat-button routerLink="discover" routerLinkActive="active"><i class="material-icons">
            search
            </i>Discover</a>
        <a mat-button routerLink="marketplace" routerLinkActive="active"><i class="material-icons">
                calendar_today
                </i>Events</a>
        <a mat-button routerLink="marketplace" routerLinkActive="active"><i class="material-icons">
            store
            </i>Marketplace</a>
        <a mat-button routerLink="questions" routerLinkActive="active"><i class="material-icons">
            question_answer
            </i>Q&A</a>

        <div class="spacer"></div>

        <a mat-button routerLink="profile">
            <mat-icon aria-hidden="false">person</mat-icon>
        </a>
        <a mat-button routerLink="messages">
            <mat-icon aria-hidden="false">email</mat-icon>
        </a>
        <a mat-button (click)="auth.signOut()">
           Sign Out
        </a>
    </ng-template>


</mat-toolbar>