<mat-grid-list cols="3" rowHeight="4rem">
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <mat-grid-tile-header>
            Title
        </mat-grid-tile-header>
        <img src="https://i.picsum.photos/id/237/200/300.jpg">
        <mat-grid-tile-footer>
            $50
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <mat-grid-tile-header>
            Title
        </mat-grid-tile-header>
        <img src="https://i.picsum.photos/id/237/200/300.jpg">
        <mat-grid-tile-footer>
            $50
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <mat-grid-tile-header>
            Title
        </mat-grid-tile-header>
        <img src="https://i.picsum.photos/id/237/200/300.jpg">
        <mat-grid-tile-footer>
            $50
        </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
        <mat-grid-tile-header>
            Title
        </mat-grid-tile-header>
        <img src="https://i.picsum.photos/id/237/200/300.jpg">
        <mat-grid-tile-footer>
            $50
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>